<!doctype html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Roboto" rel="stylesheet">

    <link rel="stylesheet" href="bee_style1.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {% block head %} {% endblock %}
    <style>
    html {
        height: 100%;
    }
    body {
    display: block;
    margin: 0px;
    height: 500px%;
    background: linear-gradient(0deg, #0800fb, #7000d2);
    min-height: 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    .hidden {
        display: none;

    }
    </style>

    <style>
    </style>
</head>
<body>
    <a href="/">Homepage</a> <a href="/login">Login</a> <a href="/logout">Logout</a> <a href="/edit_profile">Edit/View User Profile</a> <a href="/contacts">contacts</a> <a href="/bs_alerts">Main Alerts Page</a>
	{% block content %} {% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>