{% extends 'base.html' %}
{% block title %}BeSafe Check-In/Alert Page{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1 class="centered_text">BeSafe Warning System Scheduler</h1>
<div style="text-align: center"> <h2>Your Local Time: &nbsp </h2><h3><div id='clock'></div></h3></div>


{% if contacts|length < 1 %}
<h5><a href="/contacts">You must add at least one contact to save an alarm set. Click here to add/edit contacts.</a></h5>

<button type="button" class="button-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add/Edit Contacts
</button>
{% else %}
<!--#########################################-->
<!--In Progress Check-in Redesign-->
<!--Already-Existing Scheduled Check Ins-->
{% for al in alerts %}


<div class="check-in-div" id="alertDiv{{ al.alert_id }}" style="border-style: solid;">
	<div id="all_content{{ al.alert_id }}" class="unhide.fullWidth">
		<div style="display: inline-block; max-width: 95%; width: 700px">
			<div id="alert_inner" style="display: inline-block; width:60%; vertical-align: top; padding-top: 10px;">
				<h5 class="centered_text">Check-In: {{ al.a_name }}</h5>
			</div>
			<div id="alert_inner{{ al.alert_id }}" style="display: inline-block; zoom: 0.98">
				<p style="display: inline-block; vertical-align: top; padding-top: 10px;">Inactive</p>
				<div id="alert_inner" style="display: inline-block; zoom: 0.3" class="togdiv">
				<input class="toginput" type="checkbox" name="toggle" id="toggle_rec{{ al.alert_id }}" type="checkbox" data-toggle="toggle" class="display_toggle" data-on="Alert Set Active" data-off="Inactive" {% if al.active == True %}checked{% endif %} name="{{ al.alert_id }}">

				<label for="toggle_rec{{ al.alert_id }}" class="toy-toggle" style="display: inline-block;">
					<span class="border1"></span>
					<span class="border2"></span>
					<span class="border3"></span>
					<span class="handle">
						<span class="handle-off"></span>
						<span class="handle-on"></span>
					</span>
				</label>
				</div>
				<p style="display: inline-block;  vertical-align: top; padding-top: 10px;">Active</p>
			</div>
		</div>

		<div id="alert_on{{ al.alert_id}}" {% if al.active == false %}class="hidden"{% endif %}>
		<p>Status:Currently Active</p>
			<p>Checked in {{ al.checked_in }} Times so Far</p>
			<p id="datetime{{ al.alert_id }}">Scheduled Check-In Time: {{ al.next_alarm_dis }}</p>
			<div class="countdown-container" style="margin-bottom: 15px; height:20px">
				<div class="check-in-inner" >
					Countdown to Next Check-In:
				</div>
				<div class="check-in-inner" id='countdown{{ al.alert_id }}' style="color: red;">
				</div>
			</div>
		</div>

		<div id="alert_off{{ al.alert_id}}" {% if al.active == true %}class="hidden"{% endif %}>
			<p>Status:Currently Inactive</p>
			<p id="datetime{{ al.alert_id }}">Scheduled Check-In Time: {{ al.time_formated }}</p>
		</div>
		<button id="edit_alert_but{{ al.alert_id }}" class="button-1">
			Edit Check In
		</button>
		<button style="display: inline-block;" id="delete_alert_but{{ al.alert_id }}" class="cd-popup-trigger button-3" type="button">
			Delete Check In
		</button>
	</div>


	<div id="edit_alert{{ al.alert_id }}" class="hidden">
		<div style="display: inline-block; max-width: 95%; width: 700px">

        <form name="save_alert_form{{ al.alert_id }}" id="save_alert_form{{ al.alert_id }}" action="/save_alert/{{ al.alert_id }}" onsubmit="event.preventDefault(); validateForm(save_alert_form{{ al.alert_id }})" method="POST" class="checkinForm">
					<div class="tooltips" style="display: inline-block; max-width: 85%">

						<b>DOG DOG Check In Name: 
							<!-- <img src="../static/img/tooltip.png" style="height: 20px" alt="" /> <p style="color:red; display:inline-block">*</p></b>   -->
							<input type=textbox name='a_name' value='{{ al.a_name }}'></input><br>
						<!-- <span class="tooltiptext">DOG DOGWhat would you like to name this Check In?</span> -->

					</div>
					<br>
					<div class="tooltips">
						<b style="display:inline-block; vertical-align:top">
              Check In Details:
              <!-- <button data-toggle="popover" data-content="Where are you going and/or what are you doing that you might need this alert?" aria-describedby="tooltip"> -->
                <!-- <img src="../static/img/tooltip.png" style="height: 20px" alt="" />
                <span class="sr-only">Where are you going and/or what are you doing that you might need this alert?</span> -->
            </b>
						<textarea style="display:inline-block; max-width: 75%; width: 400px" name="descri" value='{{ al.message }}'></textarea>
						<br>
						<!-- <span class="tooltiptext">Where are you going and/or what are you doing that you might need this alert?</span> -->
					</div>
					<div class="tooltips">
	          <!-- <b>Check In Time: <img src="../static/img/tooltip.png" style="height: 20px" alt="" /> <p style="color:red; display:inline-block">*</p> </b><input type="time" name="time" value='{{ al.time }}'></input><br> -->
						<!-- <span class="tooltiptext">What time would you like the app to send an alert if you don't check-in by that time?</span> -->
					</div>
					<br>
					<div class="tooltips">
	          <b>Contact(s): 
	          	<!-- <img src="../static/img/tooltip.png" style="height: 20px" alt="" />  -->
	          	<p style="color:red; display:inline-block">*</p> </b>
	          {% for contact in contacts %}
				    {% set contactloop = loop %}
				    <input type="checkbox" name="contact" value="{{ contact.contact_id }}" {% if contact.contact_id == al.contact_id1 or contact.contact_id == al.contact_id2 or contact.contact_id == al.contact_id3%}checked{% endif %}>{{ contact.name }} &nbsp &nbsp
				    {% endfor %}
						<br>
						<span class="tooltiptext">Which contact(s) would you like to be alerted if you miss a check-in? (select up to 3)</span>
					</div>
					<br>
					<button type="button" class="button-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
					  Add/Edit Contacts
					</button>
					<br>
					<div class="tooltips" style="max-width: 85%">
            <b>Time Between Check Ins (in minutes):</b>
	            <input type="number" name="interval" placeholder="120" min="45" max="1500" value='{{ al.interval }}'><br>
						<!-- 	<span class="tooltiptext">
							Leave blank for a one-time alert.
							</span> -->
					</div>
	            <br>
            <button id="save_al_submit{{ al.alert_id }}" type="submit" class="button-1">
            	Save Check In
            </button>
						<button style="display: inline-flex;" id="delete_alert_but2{{ al.alert_id }}" class="cd-popup-trigger button-3" href="/delete_alert/{{ al.alert_id }}" method="POST" type="button">
							Delete Check In
						</button>
        </form>
		</div>
	</div>
</div>


<!--#########################################-->
<script type="text/javascript">
var t{{ al.alert_id }} = ({{ al.total }} * 1000)

$(document).ready( function() {

  function count{{ al.alert_id }}(change = 0) {
      t{{ al.alert_id }} = (t{{ al.alert_id }} - 1000);
      var t = t{{ al.alert_id }};
      var seconds = Math.floor( (t/1000) % 60 );
      var minutes = Math.floor( (t/1000/60) % 60 );
      var hours = Math.floor( (t/(1000*60*60)) % 24 );
      var days = Math.floor( t/(1000*60*60*24) );


    if (seconds < 10) {
    // Add the "0" digit to the front
    // so 9 becomes "09"
    seconds = "0" + seconds;
    }

    if (minutes < 10) {
    // Add the "0" digit to the front
    // so 9 becomes "09"
    minutes = "0" + minutes;

    }

    // This gets a "handle" to the clock div in our HTML
    var countDiv = document.getElementById('countdown{{ al.alert_id }}');

    // Then we set the text inside the clock div
    // to the hours, minutes, and seconds of the current time

    if(t > 0) {
    countDiv.innerText = days + ":" + hours + ":" + minutes + ":" + seconds;

    return {
        'changes': change + 1
    };
    }
    else {
    countDiv.innerText = "0 days and 0:00:00 Remaining";

    return {
        'changes': change
    };

    }

  }

  // This runs the displayTime function the first time
  var changing = count{{ al.alert_id }}().changes;

  count{{ al.alert_id }}(changing);
  setInterval(count{{ al.alert_id }}, 1000);

});

$(document).ready(function(){
	$( "#delete_alert_but{{ al.alert_id }}" ).click(function(event){
		let c = confirm("Are you sure you want to delete this checkin?");
		if (c == true) {
			$.post("/delete_alert/{{ al.alert_id }}");
			$( "#alertDiv{{ al.alert_id }}" ).hide();
		}
	});
});

$(document).ready(function(){
	$( "#delete_alert_but2{{ al.alert_id }}" ).click(function(event){
		let d = confirm("Are you sure you want to delete this checkin?");
		if (d == true) {
			$.post("/delete_alert/{{ al.alert_id }}");
			$( "#alertDiv{{ al.alert_id }}" ).hide();
		}
	});
});

$(document).ready(function(){
    $( "#edit_alert_but{{ al.alert_id }}" ).click(function(event){
    	$( "#all_content{{ al.alert_id }}" ).hide();
			$( "#edit_alert{{ al.alert_id }}" ).removeClass("hidden").addClass("unhide").addClass("fullWidth")
			$( "#edit_alert{{ al.alert_id }}" ).show();
			console.log("Edit Alert Div should appear!")
    });
});

$(document).ready(function(){
    $( "#toggle_rec{{ al.alert_id }}" ).change(function(event){
        console.log('Button is pressed!')
        if(this.checked) {
            $.get("/activate/{{ al.alert_id }}", function(data) {
                document.getElementById("datetime{{ al.alert_id }}").innerHTML = data;
                console.log("data then value:");
                console.log(data);
                console.log(data.value);
            });
            console.log("Toggle Button On is working");
            $( "#alertDiv{{ al.alert_id }}" ).removeClass("hidden").addClass("col-6");
            $( "#alert_on{{ al.alert_id }}" ).show();
						$( "#alert_off{{ al.alert_id }}" ).hide();
        }
        else {
            $.get("/deactivate/{{ al.alert_id }}");
            console.log("Toggle Button Off is working");
            $( "#count_display{{ al.alert_id }}" ).hide();
            $( "#alert_on{{ al.alert_id }}").hide();
            $( "#checked{{ al.alert_id }}").hide();
						$( "#alert_off{{ al.alert_id }}" ).show();
        };

	});
});

</script>
{% endfor %}
<!--#########################################-->
<!--New Scheduled Check Ins-->
<div class="check-in-div hidden" id="alertDivnew" style="border-style: solid;">
	<div id="all_content_new" class="unhide.fullWidth">
        {% if contacts|length < 1 %}
        <h5><a href="/contacts">You must add at least one contact to save an alarm set. Click here to add/edit contacts.</a></h5>
        {% endif %}
        <form name="add_alert_form" id="add_alert_form" action="/add_alert" onsubmit="event.preventDefault(); validateForm(add_alert_form)" method="POST">
					<div class="tooltips">

						<b>Check In Name: 
							<!-- <img src="../static/img/tooltip.png" style="height: 20px" alt="" />  -->
							<p style="color:red; display:inline-block">*</p></b>  <input type=textbox name='a_name'></input><br>
						<!-- <span class="tooltiptext">What would you like to name this Check In?</span> -->

					</div>
					<br>
          <div class="tooltips">
            <b style="display:inline-block; vertical-align:top">
              Check In Details:
              <button class="popoverButton" type="button" data-toggle="popover" title="Check In Details" data-content="Where are you going and/or what are you doing that you might need this alert?">
                <!-- <img src="../static/img/tooltip.png" style="height: 20px" alt="" /> -->
              </button>
            </b>
            <textarea style="display:inline-block; max-width: 75%; width: 400px" name="descri"></textarea>
            <br>
            <!-- <span class="tooltiptext">Where are you going and/or what are you doing that you might need this alert?</span> -->
          </div>
					<div class="tooltips">
	          <b>Check In Time: 
	          	<!-- <img src="../static/img/tooltip.png" style="height: 20px" alt="" />  -->
	          	<!-- <p style="color:red; display:inline-block">*</p> </b> -->
	          	<input type="time" name="time"></input><br>
						<!-- <span class="tooltiptext">What time would you like the app to send an alert if you don't check-in by that time?</span> -->
					</div>
					<br>
					<div class="tooltips">
	          <b>Contact(s): 
	          	<!-- <img src="../static/img/tooltip.png" style="height: 20px" alt="" />  -->
	          	<p style="color:red; display:inline-block">*</p> </b>
						{% for contact in contacts %}
				    {% set contactloop = loop %}
				    <input type="checkbox" name="contact" value="{{ contact.contact_id }}">{{ contact.name }} &nbsp &nbsp
				    {% endfor %}
						<br>
						<!-- <span class="tooltiptext">Which contact(s) would you like to be alerted if you miss a check-in? (select up to 3)</span> -->
					</div>
					<button type="button" class="button-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
					  Add/Edit Contacts
					</button>
					<br>
					<div class="tooltips">
            <b>Time Between Check Ins (in minutes):</b>
	            <input type="number" name="interval" placeholder="120" min="45" max="1500"><br>
						<!-- 	<span class="tooltiptext">
							Leave blank for a one-time alert.
							</span> -->
					</div>
	            <br>
            <button style="display: inline-block;" id="add_new_alert" type="submit">
            	Save Alert
            </button>
        </form>
	</div>
</div>

<div class="centered_text" id="new_alert_but_div">
	<button id="add_new_alert_but" type="button" class="centered button-2">
		Add New Check In
	</button>
</div>
{% endif %}
<!--#########################################-->

<script type="text/javascript">
$(document).ready(function(){
	$( "#add_new_alert_but" ).click(function(event){
		console.log("New Alert Button Clicked");
		$( "#alertDivnew" ).show();
		$( "#alertDivnew" ).removeClass("hidden").addClass("unhide");
		$( "#add_new_alert_but" ).hide()
	});
});

document.querySelectorAll('.display_toggle').forEach(item => {
  item.addEventListener('click', event => {
    console.log("Display Toggle Clicked")
  })
})

$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
<!--#########################################-->





<script type="text/javascript">
	$(document).ready( function() {
	  function displayTime() {
	    var currentTime = new Date();
		var year = currentTime.getYear() + 1900;
	    var month = currentTime.getMonth() + 1;
	    var day = currentTime.getDate();


	    var hours = currentTime.getUTCHours() + 1;
	    var minutes = currentTime.getMinutes();
	    var seconds = currentTime.getSeconds();
	    var meridiem = "AM";
	    hours = hours + {{ timezone }};
	    if (hours < 0) {
	    	hours = 24 + hours
	    }
	    if (hours > 12) {
		    hours = hours - 12;
		    meridiem = "PM";
		}

		// 0 AM and 0 PM should read as 12
		if (hours === 0) {
		    hours = 12;
		}

	    if (seconds < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    seconds = "0" + seconds;
		}

		if (minutes < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    minutes = "0" + minutes;
		}

	    // This gets a "handle" to the clock div in our HTML
	    var clockDiv = document.getElementById('clock');

	    // Then we set the text inside the clock div
	    // to the hours, minutes, and seconds of the current time
	    clockDiv.innerText =  hours + ":" + minutes + ":" + seconds + " " + meridiem + ",    " + month + "/" + day + "/" + year;
	  }

	  // This runs the displayTime function the first time
	  displayTime();
	  setInterval(displayTime, 1000);

	});

{% if modal == "True" %}
	$(window).on('load', function() {
        $('#exampleModal').modal('show');
    });
{% endif %}



	function validateForm(form) {
	  let formName = form.name;
	  console.log("ValidateForm triggered, Formname: ", formName)
	  let x = document.forms[formName]["time"].value;
	  let y = document.forms[formName]["interval"].value;
	  if (x == "" && y == "") {
	    alert("A scheduled time or an interval between check-ins is required to save alert.");
	    return false;
	  } else {
	  	console.log("Else in Validate form triggered!")
	  	document.getElementById(formName).submit();
	  }
	}
</script>

{% include 'contact_modal.html'%}

{% endblock %}
