{% extends 'base.html' %}
{% block title %}BeSafe Alert Page{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<h1>BeSafe Safety Warning System Page</h1>
<div style="text-align: center"> <h2>Your Local Time: &nbsp <div id='clock'></div></h2></div>

<h2>Alerts*</h2>
<div class="container-fluid.">
	<div class="row">
		<div class="col-2">
			<p style="font-size: 140%; text-align: left; padding-left: 15%; text-decoration: underline;">Alert Name</p>
		</div>
		<div class="col-2">
			<p style="font-size: 140%; text-align: left; padding-left: 15%; text-decoration: underline;">Activated</p>
		</div>
		<div class="col-6" style="display: inline-block; padding: 0 0 0 0;">
			<div class="col-5" style="display: inline-block;">
				<p style="font-size: 140%; text-align: left; display: inline-block; padding-left: 10%; text-decoration: underline;">Next Alert Time</p>
			</div>
			<div class="col-6" style="display: inline-block;">
				<p style="font-size: 140%; text-align: left; display: inline-block; padding-left: 10%; text-decoration: underline;">Next Alert Countdown</p>
			</div>
		</div>
		<div class="col-1">
			<p style="font-size: 120%; text-align: left; padding-left: 10%; text-decoration: underline;">Checked-In?</p>
		</div>

	</div>
</div>


<!--#########################################-->

{% for set in alert_sets %}
<div class="container-fluid.">
	<div class="row.alert_display" style="width:100%">
		<div class="col-2" style="display: inline-block; font-family: 'Bitter', serif;
        font-weight: bold; font-size: 135%;">
			<a href="/edit_recset/{{ set.alert_set_id }}">{{ set.a_name }}</a> &nbsp &nbsp
		</div>
		<div class="col-2" id="alert_inner" style="display: inline-block;"> 
			<input id="toggle_rec{{ set.alert_set_id }}" type="checkbox" data-toggle="toggle" data-on="Alert Set Active" data-off="Inactive" {% if set.active == True %}checked{% endif %}>
		</div>
		

		<div {% if set.active == False %}class='hidden.col-6' {% else %} class="col-6" {% endif %} id="count_display{{ set.alert_set_id }}" style="display: inline-block; padding: 0 0 0 0;">
			
			<div class="col-5" id="al_time{{ set.alert_set_id }}" style="display: inline-block;">	
			<p id="datetime{{ set.alert_set_id }}" style="font-family: 'Bitter', serif;
        	font-weight: bold; font-size: 105%; color: red; display: inline-block;">
			{% if set.active == True %}
			{{ set.next_alarm_dis }}
			{% endif %}
			</p>
			</div>
		

			<div {% if set.active == False %} class='hidden' {% else %} class="col-6" {% endif %} id='countdown{{ set.alert_set_id }}' style=" {% if set.active == False %} display: none; {% else %} display: inline-block; {% endif %} font-family: 'Bitter', serif;
        font-weight: bold; font-size: 105%; color: red;">

			</div>
		</div>
		<div class='col-1'style="display: inline-block;" id="checked{{ set.alert_set_id }}">
			<p {% if set.active == False %} class='hidden' {% else %} class='visible' {%endif%}  id="checked{{ set.alert_set_id }}" style="font-family: 'Bitter', serif; font-weight: bold; font-size: 150%; {% if set.checked_in %} color: green; {% else %} color: red; {% endif %}">
			{% if set.checked_in == True %}
			Yes
			{% else %}
			No
			{% endif %}
			
			</p>
		</div>
			
	</div>
</div>


{% endfor %}

<!--#########################################-->

<button id="add_new_main" type="button">Add New Alert Set</button>
<div>
	<button id="add_sched" type="button" class="hidden">Create Pre-Scheduled Alerts</button> <button id="add_rec" type="button" class="hidden">Create Recurring Alerts</button>
	
	
<!--#########################################-->
	
	
	<div id="new_sched"  class="hidden">
		<h1 style="text-align: center;">New Scheduled Alert Set</h1>

		{% if contacts|length < 1 %}
		<h5><a href="/contacts">You must add at least one contact to save an alarm set. Click here to add/edit contacts.</a></h5>
		{% endif %}
		<form  id="add_sched_form" action="/add_schedset">
			<b>What would you like to name this alert set???:</b> <input type=textbox name='set_nam'></input><br>
			<b>Where are you going and/or what are you doing that you might need this alert?</b><br>
			<textarea rows="2" cols="50" name="descri"></textarea>
			<br>

			<a href="/contacts">Add/Edit/View Your Contacts</a>
			<!-- What Date would you like this alert set to first be available? (optional)<input type="date" name="date" value=""><br>
			What is the last date you would like this alert set to be available? (optional)<input type="date" name="end_date" value=""> -->
			<br><br>
			What time would you like the app to send an alert if you don't check-in by that time (your first alert)? <input type="time" name="time">
			<br>
			Which contact(s) would you like to be alerted if you miss a check-in? (select up to 3)
			<br>
			{% for contact in contacts %}
			{% set contactloop = loop %}
			<input type="checkbox" name="contact" value="{{ contact.contact_id }}">{{ contact.name }} &nbsp &nbsp
			{% endfor %}<br>
			<button id="sched_set_submit" type="submit">Create Alert Set</button>
			<br>
			<a href="/sw_main">Go Back to the Main SafeWalk <br> Alerts Page</a>
		</form>

	</div>

<!--#########################################-->
	
	<div id="new_rec" class="hidden">
		<h1 style="text-align: center;">Create New Recurring Alert Set</h1>

		{% if contacts|length < 1 %}
		<h5><a href="/contacts">You must add at least one contact to save an alarm set. Click here to add/edit contacts.</a></h5>
		{% endif %}
		
		<form action="/add_recset" method="POST">
			<b>What would you like to name this alert set???:</b> <input type=textbox name='set_nam'></input><br>
			<b>Where are you going and/or what are you doing that you might need this alert?</b><br>
			<textarea rows="2" cols="50" name="descri"></textarea><br>
			
		<div id="recurring">
			<b>How often would you like to require checking in with the app? (in minutes):</b> 
			<input type="number" name="interval" placeholder="120" min="45" max="1500" required><br> 
			(You'll receive texts reminding you to check in 30 and 15 minutes before your required check-ins)<br>
			
			Which contact(s) would you like to be alerted if you miss a check-in? (select up to 3)<br>
			{% for contact in contacts %}
			{% set contactloop = loop %}
			<input type="checkbox" name="contact" value="{{ contact.contact_id }}">{{ contact.name }} &nbsp &nbsp
			{% endfor %}<br>
			<a href="/contacts">Add/Edit/View Your Contacts</a>
			
		</div>

		<button type="submit">Save Alert Set</button>
		<br>
		<a href="/sw_main">Go Back to the Main SafeWalk <br> Alerts Page</a>
		</form>
	</div>
</div>

<!--#########################################-->



<script type="text/javascript">
	$(document).ready( function() {

	  function displayTime() {
	    var currentTime = new Date();
		var year = currentTime.getYear() + 1900;
	    var month = currentTime.getMonth() + 1;
	    var day = currentTime.getDate();
	    
	    
	    var hours = currentTime.getUTCHours() + 1;
	    var minutes = currentTime.getMinutes();
	    var seconds = currentTime.getSeconds();
	    var meridiem = "AM";
	    hours = hours + {{ timezone }};
	    if (hours < 0) {
	    	hours = 24 + hours
	    }
	    if (hours > 12) {
		    hours = hours - 12;
		    meridiem = "PM";
		}

		// 0 AM and 0 PM should read as 12
		if (hours === 0) {
		    hours = 12;    
		}

	    if (seconds < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    seconds = "0" + seconds;
		}

		if (minutes < 10) {
	    // Add the "0" digit to the front
	    // so 9 becomes "09"
	    minutes = "0" + minutes;
		}

	    // This gets a "handle" to the clock div in our HTML
	    var clockDiv = document.getElementById('clock');

	    // Then we set the text inside the clock div 
	    // to the hours, minutes, and seconds of the current time
	    clockDiv.innerText =  hours + ":" + minutes + ":" + seconds + " " + meridiem + ",    " + month + "/" + day + "/" + year;
	  }

	  // This runs the displayTime function the first time
	  displayTime();
	  setInterval(displayTime, 1000);

	});


	$(document).ready(function(){
	    $( "#add_sched" ).click(function(){
	        $( "#new_rec" ).hide();
	        $( "#new_sched" ).show();
	        console.log("Add Sched Button working");
	    });
	});

	$(document).ready(function(){
	    $( "#add_rec" ).click(function(){
	        $( "#new_rec" ).show();
	        $( "#new_sched" ).hide();
	        console.log("Add Rec Button working");
	    });
	});
	$(document).ready(function(){
	    $( "#add_new_main" ).click(function(){
	        $( "#add_rec" ).show();
	        $( "#add_sched" ).show();
			$( "#add_new_main" ).hide()
	        console.log("Add Main Button working");
	    });
	});
	$(document).ready(function(){
	    $( "#sched_set_submit" ).click(function(){
	        $( "#set_form" ).show();
			$( "#new_sched" ).hide()
	        console.log("Submit Sched Set Button Working");
	    });
	});







	// code from https://www.w3schools.com/howto/howto_css_modals.asp//
	// Get the modal
	var modal = document.getElementById("myModal");

	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on the button, open the modal
	btn.onclick = function() {
	modal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	if (event.target == modal) {
		modal.style.display = "none";
	}
	}





	// function addingSet(){
	// 	console.log('Button is pressed!');	
	// 	console.log('Form Data: ')
	// 	$.post("/add_schedset", $("#add_sched_form").serialize(), function(data) {
	// 		console.log("data then value:");
	// 		console.log(data);
	// 		$('input[name="alertsetID"]').val(data);
	// 		console.log(data.value);
	// 	});
	// };
	// function addingAlert(){
	// 	console.log('Button is pressed!');	
	// 	console.log('Form Data: ')
	// 	path = "/add_alert/" + ($('[name=alertsetID]').val())
	// 	$.post(path, $("#set_form").serialize(), function(data) {
	// 		console.log("data then value:");
	// 		console.log(data);
	// 		$('input[name="alertsetID"]').val(parseInt(data));
	// 		console.log(data.value);
	// 	});
	// };
</script>
{% endblock %}