{% extends 'base.html' %}
{% block title %}Map Page{% endblock %}
{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEAWz7loO8vmoSgs6QLG4-wDFM91eDjhU&libraries=visualization,places&callback=initMap"
         async defer></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css" rel="stylesheet" type="text/css">
<!--     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqSXr_5uDcPRB4GEFIUUeIfP-GdZOz3Hg&callback=initMap" async defer></script> -->
<!--     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqSXr_5uDcPRB4GEFIUUeIfP-GdZOz3Hg&library=places" async defer></script> -->

	
 

{% endblock %}